#top .gform_wrapper .sqms-prod-sel-form label {
	color: #f05a1a;
}
#top label span.product-choice-title {
	color: #888888;
}

.gform_wrapper .sqms-prod-sel-form .gfield_radio li {
	margin-bottom: 18px;
}
.gform_wrapper .sqms-prod-sel-form .gfield_radio li label:hover {
	cursor: pointer;
}
.gform_wrapper .sqms-prod-sel-form .image-radio .gfield_radio li input[type=radio] {
	display: none;
}
.gform_wrapper .sqms-prod-sel-form .image-radio .gfield_radio li input[type=radio] + label .product-choice-title {
	display: block;
	height: 24px;
	line-height: 24px;
	padding-left: 26px;
	background: url(../img/checkbox-orange.png) 0 0 no-repeat;
	color: #888888;
}
#top .gform_wrapper .sqms-prod-sel-form .image-radio .gfield_radio li input[type=radio] + label .product-choice-title {
	font-weight: bold;
	font-size: 15px;
}
.gform_wrapper .sqms-prod-sel-form .image-radio .gfield_radio li input[type=radio]:checked + label .product-choice-title {
	background-position: 0 -23px;
}

.vex-content .gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox],
.vex-content .gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio],
.vex-content .gform_wrapper.gf_browser_chrome .gfield_checkbox li input {
	margin: 0;
}

#top .vex-content .gform_wrapper .gfield_checkbox li label,
#top .vex-content .gform_wrapper .gfield_radio li label {
	margin: 0 0 0 4px;
}

.sqms-prod-sel-form ul.gfield_radio li input[type="radio"]:checked + label {
	background: #f0f0f0;
}

.gform_wrapper .sqms-prod-sel-form .gfield_radio li label {
	padding: 8px;
	margin: 0!important;
}
.gform_wrapper .sqms-prod-sel-form  li.gfield.gf_list_2col ul.gfield_radio li label {
	overflow: visible;
	white-space: normal;
}

.col-wrapper {
	margin: 10px 0;
}

.col-wrapper:after {
    content:" ";
    display:block;
    clear:both;
}

.photo-quote-callout {
	background: #f05a1a;
	padding: 12px;
}

.photo-quote-callout p {
	color: #fff;
	margin: 0;
}

.photo-quote-callout a {
	color: #0C4CB3;
	font-weight: bold;
	text-decoration: underline;
}

.photo-quote-callout a:hover {
	text-decoration: none;
}

.col-left {
	margin-bottom: 12px;
}

.highlight-box {
	background: #fafafa;
	padding: 12px;
	border: 1px solid #393939;
	margin-bottom: 12px;
}

.financing-box-title {
	margin-bottom: 12px;
}

.dynamic-dealer-select {
	margin-top: 24px;
	padding-bottom: 24px;
	border-bottom: 1px solid #e9e9e9;
}

@media only screen and (min-width: 768px) {
	.col-wrapper {
		margin: 18px 0;
	}

	.col-left {
		width: 49%;
		float: left;
		margin-bottom: 0;
	}

	.col-right {
		width: 49%;
		float: right;
	}
}
