#top form.sqms-zip-search-form {
	margin: 0;
}
#top .sqms-zip-search-form input[type="text"] {
	margin-bottom: 0;
	font-size: 54px;
	padding: 10px 24px;
	border-right:none;
}
#top .sqms-zip-search-form input[type="text"].error {
	border-color: #a94442;
	color:#a94442;
}
#top .sqms-zip-search-form input[type="text"].valid {
	border-color: #2b542c;
	color:#2b542c;
}
#top .sqms-zip-search-form label.error {
	color: #a94442;
	font-weight: normal;
	font-size: 16px;
}
#top .sqms-zip-search-form input[type="submit"] {
	width: 100%;
	font-size: 24px;
	padding: 0;
	line-height: 87px;
}
/*#top .sqms-zip-search-form input[type="submit"]:disabled {
	cursor: not-allowed;
}*/
#top .sqms-zip-search-form p {
	float: left;
	margin: 0;
}
#top .sqms-zip-search-form .zip-input-wrap {
	width: 70%;
}
#top .sqms-zip-search-form .zip-button-wrap {
	margin-top: 26px;
	width: 30%;
}
.product-error-button {
	width: 50%;
	display: block;
	font-size: 24px;
	margin: 24px auto;
}
.sqms-prod-sel-form h3 b,
.sqms-prod-sel-form h3 a {
	color: #f05a1a!important;
}
#top .gform_wrapper .sqms-prod-sel-form label.gfield_label {
	font-size: 1.5em;
}
#top label span.product-choice-title {
	color: #888888;
}

#top input#choice_12_67_3 {
	display: inline-block;
	width: auto;
}

.gform_wrapper .sqms-prod-sel-form li.gfield.gf_list_3col ul.gfield_radio li label {
	white-space: normal;
}
.gform_wrapper .sqms-prod-sel-form .gfield_radio li {
	margin-bottom: 18px;
}
.gform_wrapper .sqms-prod-sel-form .gfield_radio li label:hover {
	cursor: pointer;
}
.gform_wrapper .sqms-prod-sel-form .image-radio .gfield_radio li input[type=radio] {
	display: none;
}
.gform_wrapper .sqms-prod-sel-form .image-radio .gfield_radio li input[type=radio] + label .product-choice-title {
	display: block;
	height: 24px;
	line-height: 24px;
	padding-left: 26px;
	background: url(../img/checkbox-orange.png) 0 0 no-repeat;
	color: #888888;
}
#top .gform_wrapper .sqms-prod-sel-form .image-radio .gfield_radio li input[type=radio] + label .product-choice-title {
	font-weight: bold;
	font-size: 15px;
}
.gform_wrapper .sqms-prod-sel-form .image-radio .gfield_radio li input[type=radio]:checked + label .product-choice-title {
	background-position: 0 -23px;
}

.vex-content .gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox],
.vex-content .gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio],
.vex-content .gform_wrapper.gf_browser_chrome .gfield_checkbox li input {
	margin: 0;
}

#top .vex-content .gform_wrapper .gfield_checkbox li label,
#top .vex-content .gform_wrapper .gfield_radio li label {
	margin: 0 0 0 4px;
}

.sqms-prod-sel-form ul.gfield_radio li input[type="radio"]:checked + label {
	background: #f0f0f0;
}

.gform_wrapper .sqms-prod-sel-form .gfield_radio li label {
	padding: 8px;
	margin: 0!important;
}
.gform_wrapper .sqms-prod-sel-form  li.gfield.gf_list_2col ul.gfield_radio li label {
	overflow: visible;
	white-space: normal;
}

.col-wrapper {
	margin: 10px 0;
}

.col-wrapper:after {
    content:" ";
    display:block;
    clear:both;
}

.main_color .highlight-box a {
	color: #0C4CB3;
	font-weight: bold;
	text-decoration: underline;
}

.main_color .highlight-box a:hover {
	text-decoration: none;
}

.text-center {
	text-align: center;
}

.col-left {
	margin-bottom: 12px;
}

.highlight-box {
	background: #f05a1a;
	padding: 12px;
	margin-bottom: 12px;
	color: #fff;
}

.main_color .highlight-box b,
.main_color .highlight-box p,
.main_color .highlight-box h1,
.main_color .highlight-box h2,
.main_color .highlight-box h3 {
	color: #fff;
	text-transform: none!important;
	margin: 0;
}

.financing-box-title {
	margin-bottom: 12px;
}

.cost-wrapper {
	text-align: center;
	padding: 36px 12px;
	margin-bottom: 48px;
}

.cost-wrapper p{
	margin: 0;
}

.cost-wrapper h2 span {
	font-size: 34px;
	line-height: 2.25;
	display: block;
	font-weight: bold;
}

.cost-wrapper h3 span {
	font-weight: bold;
}

.financing-box {
	margin-bottom: 48px;
}

.financing-box h3 {
	margin-bottom: 18px;
	font-size: 18px;
}

.financing-box table{
	margin: 0;
}

.dynamic-dealer-select {
	margin-top: 24px;
	padding-bottom: 24px;
	border-bottom: 1px solid #e9e9e9;
}

.image-radio label,
.dynamic-dealer-select label {
	max-width: 95%!important;
}

.dynamic-dealer-select label .dealer-phone,
.dynamic-dealer-select label .dealer-address {
	margin: 4px 0!important;
}

.dynamic-dealer-select label .dealer-phone {
	font-weight: bold;
}

.seer-image {
	width: 70%;
}

.seer-table {
	width: 70%;
	margin: 0 auto;
}

@font-face {
font-family: "dashicons";
src: url("fonts/dashicons.eot");
}

@font-face {
font-family: "dashicons";
src: url(data:application/x-font-woff;charset=utf-8;base64,/* !! Large amount of data removed, see wp-includes/css/dashicons.css for complete data !! */) format("woff"),
url("fonts/dashicons.ttf") format("truetype"),
url("fonts/dashicons.svg#dashicons") format("svg");
font-weight: normal;
font-style: normal;
}
tr.gv-notes-no-notes { display: none!important; }
#top .gv-no-notes form,
.gv-notes.gv-no-notes {margin: 0;}

.star-rating .star-full:before {
content: "\f155";
}

.star-rating .star-half:before {
content: "\f459";
}

.star-rating .star-empty:before {
content: "\f154";
}

.star-rating .star {
color: #f05a1a;
display: inline-block;
font-family: dashicons;
font-size: 20px;
font-style: normal;
font-weight: 400;
height: 20px;
line-height: 1;
text-align: center;
text-decoration: inherit;
vertical-align: top;
width: 20px;
}

#top h1.dealer-conf-title {
	text-align: center;
	margin-bottom: 32px;
}

#top h1.dealer-conf-title,
#top .dealer-conf-footer h2 {
	text-transform: none;
	letter-spacing: normal;
}

#top h1.dealer-conf-title a:hover {
	color: #f05a1a;
}

.dealer-conf-meta p {
	margin: 0 0 0.74em 0;
	font-size: 18px;
}

.dealer-conf-meta p span {
	color: #f05a1a;
}
.dealer-conf-snippet {
	background: #f9f9f9;
	padding: 24px 50px;
	margin: 24px -50px 24px -50px;
}

.dealer-conf-footer {
	text-align: center;
}

.dealer-conf-icons {
	margin: 24px auto;
	list-style: none;
	text-align: center;
}

.dealer-conf-icons .dealer-conf-icon {
	display: table-cell;
	vertical-align: middle;
	padding: 0 8px;
}

.dealer-conf-icon img{
	max-width: 150px;
}

a.dealer-pdf {
	display: block;
}
@media only screen and (min-width: 768px) {
	.col-wrapper {
		margin: 18px 0;
	}

	.col-left {
		width: 49%;
		float: left;
		margin-bottom: 0;
	}

	.col-right {
		width: 49%;
		float: right;
	}
}

/* Text meant only for screen readers. */
.avia_textblock .star-rating .screen-reader-text {
	display: block;
	font-style: italic;
	font-size: 13px;
}
